.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  gap: 30px;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
}

.section--bgcolor {
  background-color: var(--accent-color-btn);
}
