.socials {
  display: flex;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition);
}

.socials__icon {
  fill: #afb1b8;
  transition: fill var(--transition);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}
